<h1>Regex Word Search</h1>
<div class='jumbotron'>
    <div class='container paragraph'>
        <p class='text-justify'>Search the dictionary to find all words that
          match a given pattern.
          A pattern consists of letters, _'s and *'s. Letters are fixed in the
          pattern, but a _ character represents a spot filled by one of your
          letters. For example, if your letters were "abc" and the pattern
          you wanted to match was "_ _ _ k" then the result would be the word
          "back". A * character is used to represent a sequence of any
          number of your letters (possibly 0). For example, if your letters
          were "se" and the pattern was "* a t *" then some of the results
          would include: "eat", "seat", "eats", "at" etc.Each letter is
          allowed to be used once for each time that it appears. For example,
          with the letters "hs" and the pattern "_ i *", the word "hiss"
          would <strong>NOT</strong> be returned.
        </p>
        <p>
          Enjoy!
        </p>
      </div>
</div>

<div class='jumbotron'>
    <h2>Word Search</h2>
    <%= form_tag('word_search', :method => 'get', :remote => true) do %>
        <div class="form-group">
            <%= label_tag(:pattern, 'Word Pattern:') %>
            <%= text_field_tag(:pattern, nil, class: 'form-control',
                               placeholder: 'Enter Pattern to Match: ' +
                '(Use _ to Indicate a Position Where One of Your Letters ' +
                'Should Go)') %>
        </div>
        <div class="form-group">
          <%= label_tag(:letters, 'Your Letters:') %>
          <%= text_field_tag(:letters, nil, placeholder: 'Enter The Letters You' +
          ' Have Available (Use _ to Match Any Letter)', class: 'form-control') %>
        </div>
        <%= submit_tag('Find Words', class: 'btn btn-default') %>
    <% end %>
</div>

<div class='container'>
  <div class='words-area'>

  </div>
</div>
